/* Main container */
.checkout-container {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Header styling */
.header {
  background-color: #1d4ed8;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Agar lebar header sesuai dengan lebar halaman */
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-page {
  font-weight: bold;
  color: white;
}

.header-nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
}

/* Main content styling */
.main-content {
  background-color: #f3f4f6;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.order-container {
  margin-bottom: 50px;
}

.order-table {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
}

.order-header-row,
.order-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}

.order-header-row {
  background-color: #3b82f6;
  color: #ffffff;
}

.order-row {
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
}

/* .product-image img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
} */

.image-product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-product {
  height: 55px;
  width: 80px;
  border-radius: 50%;
}

.summary-section,
.payment-section {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f9fafb;
  border-radius: 8px;
}

.summary-row,
.summary-row-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.summary-row {
  background-color: #3b82f6;
}

.summary-row-values {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

.entity {
  color: white;
}

.payment-header {
  font-size: 1.1rem;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
  background-color: #3b82f6;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.header-data {
  padding-left: 15px;
}

#metode-pembayaran {
  text-decoration: underline;
}
